body{
    background-color: #e9ebee;              
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    /*margin: 20 auto;*/
    margin-top: 20px;
    max-width: 800px;             
          }
label{
     font-family: 'Arial';
      width: 100px;
      display: inline-block;}

form div+div{
    margin-top: 10px;
    margin-left: 15px;
}       

